<style>
    #other_ele{
        margin-left:auto ;
    }
    body{
        font-style: bold;
        font-size: 150%;
    }
</style>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark"  style="position: fixed;width: 100%; background-color: darkcyan">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> Doc@ease</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" id="other_ele">
 
                

                 
 
 



                <a class="nav-link" href="/logout"> logout</a>
            </div>
        </div>
    </div>
</nav>
<br>
<br>